# Node
node_modules/
dist/
build/
coverage/

# Java
target/
*.iml
.gradle/
build/

# Rust
target/

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/*

# Logs
*.log

# Python (if scripts used)
__pycache__/
*.pyc
